
@{
    ViewBag.Title = "Index";
}

<h2>Shopping Online - Sitio de Administracion</h2>

<div>
    <img src="~/Imagenes/portada.jpg" alt="QuieroPizza" style="width: 100%; max-width: 600px;" />
</div>

